body {
    background-color: #eee;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;


}



.header-container {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 10px;

}

.header-container img {
    width: 50px;

}

.form-details {
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.button-control {
    text-align: center;
    margin: 20px;

}

.congra img {
    width: 50%;
    border-radius: 18px;
}

.star-color {
    color: red;
}

.login-control {

    margin: 10%;
    padding: 20px;
    background-color: #eee;
    border-radius: 10px;

}

.login-form-control {
    border: 1px solid rgb(119, 115, 115);
    border-radius: 18px;
    background-color: white;
}

.signUp a {
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 10px;
}

/* media query */

@media only screen and (max-width: 600px) {
    .header-container {
        display: block;
    }

    #dept {
        width: 50%;
    }
}